*

{
    margin:0;
    padding:0;
}
.dropdown
{
    position: absolute;
 padding-left:10px;
 padding-top: 80px;
  margin: auto;
   
}
.btn
{
    color: rgb(255, 255, 255);
    background-color: rgb(83, 172, 49);
    border-radius: 25px;
    width: 150px;
    height: 45px;
}
.dropdown-menu
{
    color: rgb(255, 255, 255);
    background-color: rgb(83, 172, 49);
    border-radius: 25px;
    width: 210px;
}
.dropdown-item
{
    color: rgb(255, 255, 255);
    background-color: rgb(83, 172, 49);
    border-radius: 25px;
    width: 200px;
}

.header

{
    height:200%;
    background-image:linear-gradient(rgba(82, 12, 12, 0.6),rgba(15, 92, 35, 0.6)),url(images/bg2.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
padding-top: 20px;
text-align: center;
color: #ffffff;
}

.header img
{
    width:150px;
    float:left; 

}   

.login-btn
{
    width:100px;
    padding:8px 0;
    margin-right: 25px;
    outline: none;
    border:2px solid #ffffff;
    border-radius: 50px;
background: transparent;
color:white;
float: right;

}

.header h1
{
    padding-top: 160px;
    padding-bottom: 0;
    font-size: 40px;
    color: rgb(136, 135, 69);
   
    
}
.header p
{
    margin: 150px;
    font-size: larger;
    text-align: center;
 
}




.signin-btn
{
    width:130px;
    padding:8px 0;
    margin-right: 10px;
    outline: none;
    border:2px solid #ffffff;
    border-radius: 50px;
background: transparent;
color:white;
float: right;
}

.districts-btn
{
    width:200px;
    padding:8px 0;
    margin-right: 10px;
    outline: none;
    border:2px solid #3d97b3;
    color:rgb(106, 218, 32);
    border-radius: 50px;
background: transparent;

float: right;
}

.home-btn
{
    width:150px;
    padding:8px 0;
    margin-right: 10px;
    outline: none;
   
    border-radius: 50px;
background: transparent;
border:2px solid #ffffff;
color:rgb(240, 240, 240);

float: right;
}
.districts
{
    

    height:100%;
    background-image:linear-gradient(rgba(82, 12, 12, 0.6),rgba(15, 92, 35, 0.6)),url(images/bg2.JPG);
background-size: cover;
background-position: center;
background-attachment: fixed;
text-shadow: 2px 2px 4px #000000;
color: #ffffff;


}

.districts h1,h4,h3
{
    text-align: center;
   
    color:rgb(229, 250, 165)
    
}

button:hover{
    color:#16A085;
    font-weight: bold;
}
.districts p
{
    margin: 60px;
    text-align: center;
   text-shadow: black;

 
  
}
.districts p1
{
    margin: 50px;
   text-align: center;
   text-shadow: black;
  
 
  
}

.districts h5{
    color: rgb(192, 235, 195);
    text-align: center;
   
}
.districts-img img{
    width:100%;
   
    border :solid  rgb(23, 46, 23) 3px;
    border-radius: 25px;
}

.container a{
    color:white;
}